<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.html%>
</head>
<style>
.unlock{
    font-family: 'Unlock', cursive;
}
</style>
<body>
    <span><img src="https://data.whicdn.com/images/127747681/original.jpg" alt="" width="100%" height="180px" class="d-inline-block align-top"></span>
   
       <%include partials/navigation.html%>



    <section>
            <div class="container mb-auto text-center " id="Usui">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="header-content-left mt-auto animated fadeInLeft">
                            <img src="http://images4.fanpop.com/image/photos/22900000/Usui-usui-takumi-22961175-500-313.jpg" width="100%" style="margin-top: 98px;" class="rounded-top rounded-bottom">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="header-content-right mt-auto ">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h1>Usuiu</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.
                            </p>
                        </div>
                    </div>
    
                </div>
            </div>

           
            <div class="container mb-auto text-center " id="Leucocito">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="header-content-left mt-auto ">
                            <br> <br><br><br>
                            <h1>Leucocito</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="header-content-right mt-5 animated fadeInRight">
                            <img src="https://somoskudasai.com/wp-content/uploads/2018/06/cell6-1024x576.jpg" class="rounded-top rounded-bottom" style="width:100%; height:100%;">
                        </div>
                    </div>
                </div>
    
               






                <div class="container mb-auto mt-auto text-center " id="Yamato">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="header-content-left mt-auto animated fadeInLeft">
                                <img src="https://i.pinimg.com/originals/da/50/e4/da50e418ac8c5cb655537bfd665712ba.jpg" class="rounded-top rounded-bottom" width="100%" height="300px;"style="margin-top: 98px;">
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="header-content-right mt-auto">
                                <br><br><br><br><br>
                                <h1>Yamato</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>
                            </div>
                        </div>
        
                    </div>
                </div>
    
               


                <div class="container mb-auto text-center " id="Yagami">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="header-content-left mt-auto animated fadeInRight">
                                    <img src="https://i.ytimg.com/vi/LXtwLxvYMeg/maxresdefault.jpg" class="rounded-top rounded-bottom" width="100%" style="margin-top: 98px;">
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="header-content-right mt-auto">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <h1>Yagami</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                    </p>
                                </div>
                            </div>
            
                        </div>
                    </div>
        
                   
                    <div class="container mb-auto text-center " id="Nanashima">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="header-content-left mt-auto" ">
                                    <br> <br><br><br>
                                    <h1 >Nanashima</h1>
                                    <p ></p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="header-content-right mt-5 animated fadeInLeftn ">
                                    <img src="https://i.ytimg.com/vi/DDsgqws6PDQ/maxresdefault.jpg" class="rounded-top rounded-bottom" style="width:100%; height:100%;">
                                </div>
                            </div>
                        </div>
            
                       
        
 

           
                <div class="container animated zoomIn" style="margin-top:130px;">
                    <div class="row">
                     <div class="col-lg-12 text-center">
                            <div class="embed-responsive embed-responsive-16by9 rounded">
                                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/-FbeH04fLAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                   
                                    <script>
                                            // Insertar guión:
                                            (function(w, d, s, p, a, c) {
                                            w.sfButton = w.sfButton || function(){};
                                            c = d.getElementsByTagName(s)[0];
                                            a = d.createElement(s);
                                            a.async=1;
                                            a.src=p;
                                            c.parentNode.insertBefore(a, c);
                                            })(window, document, 'script', '//savefrom.net/js/sf-helper-agent.min.js');
                                            
                                            // Texto:
                                            sfButton.text = 'Descargar';
                                            
                                            // Estilos:
                                            sfButton.styles = {
                                             color: 'rgba(0,0,0,0.7)',
                                             textShadow: '1px 1px 1px rgba(255,255,255,0.4)',
                                             fontFamily: 'Arial,Helvetica,sans-serif',
                                             fontSize: '12px',
                                             borderRadius: '21px',
                                             backgroundColor: '#81c200',
                                             'background-image': '-webkit-linear-gradient(#9cd600, #69ae00)',
                                             'background-image': '-moz-linear-gradient(#9cd600, #69ae00)',
                                             'background-image': 'linear-gradient(#9cd600, #69ae00)',
                                             border: 'none'
                                            };
                                            </script>
                                             </div>
                     </div>
                    </div>
                </div>
                                    
    </section>
<footer>

</footer>

</html>